.tt-1 {
    transform: translateX(-100%);
    animation: slideIn 1s ease-out forwards;
  }

  .tt-2 {
    transform: translateX(-100%);
    animation: slideIn 1.5s ease-out forwards;
  }

  .tt-3 {
    transform: translateX(-100%);
    animation: slideIn 2s ease-out forwards;
  }
 

  .tt-img,  .text-black button, .fade {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards; /* Adjust duration as needed */
  }

  .tt-icon1{
    transform: translateX(10%);
    animation: slideInFromLeft 3s ease-out forwards;
    animation-delay: 2s;
  }

  .tt-icon2{
    transform: translateX(-100%);
    animation: slideInFromRight 3.5s ease-out forwards;
    animation-delay: 2s;
  }

  .heroImageUnhide{
    opacity: 0;
    animation: fadeInOverlap 2s ease-in-out forwards;
  }

  .heroImageHide{
    opacity: 0;
    animation: fadeOutOverlap 2s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInOverlap{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOutOverlap{
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-80%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-10%);
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;    
  }

  75% {
    opacity: 0.7;    
  }

  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(10%);
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;    
  }

  75% {
    opacity: 0.7;    
  }

  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}